BasedOnStyle: LLVM
BreakBeforeBraces: Allman
IndentWidth: 4
SpaceBeforeParens: Never
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
